/* line 7, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
body {
  font-family: ABeeZee, sans-serif;
}

/* line 10, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.nav-brand {
  cursor: pointer;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  /* line 15, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
  .nav-brand {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  /* line 19, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
  .nav-brand {
    font-size: 2.8rem;
  }
}

/* line 22, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.pizza-slice {
  font-size: 1.2rem;
  padding-left: 1.25%;
  color: #e74c3c;
}

/* line 29, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.pizza-cta {
  padding-top: 4%;
}

/* line 32, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.looking-for-pizza {
  font-size: 2.5rem;
  padding-bottom: 1.8%;
  padding-right: 3%;
  padding-left: 3%;
}

/* line 38, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.book-table-btn {
  color: white;
  font-size: 1.2rem;
  padding: 2% 8%;
  border-radius: 25px;
  background-color: #e74c3c;
  border: 2px white solid;
  font-family: ABeeZee, sans-serif;
}

/* line 46, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.book-table-btn:hover {
  color: #e74c3c;
  background-color: white !important;
  border: 2px solid black !important;
}

@media (min-width: 768px) {
  /* line 52, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
  .book-table-btn {
    font-size: 1.4rem;
    padding: 0.5% 5%;
  }
}

/* line 56, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.big-img-container {
  padding: 10% 0;
}

@media (min-width: 768px) {
  /* line 60, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
  .big-img-container {
    padding: 4% 0;
  }
}

/* line 63, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.big-img {
  width: 96%;
  border-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* line 70, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.selected-table {
  font-size: 1.25rem;
  padding-bottom: 2%;
}

/* line 76, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

/* line 80, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

/* line 84, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.booking-dropdown {
  width: 85%;
  padding: 4% 0;
  background-color: #e74c3c;
  color: white;
  margin: 2% 0;
  font-family: "Roboto";
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  text-align: center;
}

/* line 95, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.booking-dropdown:hover {
  background-color: #e74c3c;
  color: white;
}

/* line 98, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.booking-dropdown:focus {
  outline: none;
  box-shadow: none;
}

/* line 101, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.booking-dropdown-menu {
  outline: none;
}

/* line 103, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.booking-dropdown-item:hover {
  background-color: white;
}

/* line 105, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.booking-dropdown-item:active {
  background-color: white;
  color: black;
}

@media (min-width: 768px) {
  /* line 110, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
  .booking-dropdown {
    font-size: 1.2rem;
  }
}

/* line 115, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.table-display-message {
  padding: 2% 0;
  text-align: center;
  font-size: 1.3rem;
  color: white;
}

/* line 121, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.tables-display {
  background-color: #e74c3c;
  margin: 10% 2%;
  padding: 3% 5%;
  border-radius: 25px;
}

@media (min-width: 768px) {
  /* line 128, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
  .tables-display {
    margin: 6% 2.5%;
  }
}

/* line 131, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.table-key {
  padding-top: 1%;
  padding-bottom: 4.5%;
  color: white;
}

/* line 136, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.available-tables {
  color: white;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
}

/* line 141, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.table-container {
  margin: 0 1%;
}

/* line 144, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.table {
  background-color: rgba(245, 246, 250, 0.4);
  padding: 15px;
  border-radius: 25px;
  min-width: 80px;
}

/* line 150, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.table-row {
  margin-bottom: 8px;
}

/* line 153, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.selectable-table:hover {
  cursor: pointer;
}

/* line 155, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.selectable-table:hover-row {
  padding: 5px;
}

/* line 158, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.full-table {
  background-color: white;
  border: solid 2px white;
  border-radius: 50%;
  padding: 1px 10px;
  margin: 3px;
}

/* line 166, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.empty-table {
  background-color: #e74c3c;
  border: solid 2px white;
  border-radius: 50%;
  padding: 1px 10px;
  margin: 3px;
}

/* line 173, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.table-name {
  color: white;
  font-size: 0.8rem;
  padding-top: 15px;
  font-family: Roboto, sans-serif;
}

/* line 180, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.reservation-details-container {
  padding: 0 4%;
  padding-bottom: 5%;
}

/* line 184, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.reservation-details {
  margin: 0 2%;
  margin-bottom: 5%;
}

@media (min-width: 768px) {
  /* line 189, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
  .reservation-details {
    margin-bottom: 0;
  }
}

/* line 192, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.reservation-input:focus {
  border-color: black;
  box-shadow: 0 0;
}

/* line 196, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.reservation-error {
  color: #c0392b;
  font-size: 1.1rem;
  padding-bottom: 3%;
}

/* line 202, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.thanks-header {
  padding: 5% 0;
  padding-top: 10%;
  font-size: 2.5rem;
}

/* line 207, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.thanks-subtext {
  font-size: 1.2rem;
  padding: 2%;
}

/* line 211, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
.thank-you-pizza {
  font-size: 4rem;
  color: #e74c3c;
  padding-bottom: 8%;
}

@media (min-width: 768px) {
  /* line 217, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
  .thanks-header {
    font-size: 5.5rem;
  }
  /* line 220, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
  .thanks-subtext {
    font-size: 2.2rem;
  }
  /* line 223, ../../../Documents/GitHub/Reserveio/reserveio/style/index.sass */
  .thank-you-pizza {
    font-size: 7rem;
    padding-bottom: 4%;
  }
}

/*# sourceMappingURL=index.css.map */